{{ define "main" }}
<div class="site-wrapper">
  <h1 class="page-heading">articles.</h1>
  <ul class="posts-list">
    {{ range .Pages }}
    <li class="post-item">
      <div class="post-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></div>
      <div class="post-meta">
        {{ .Date.Format "2006-01-02" }}
        {{ if .Params.tags }}
        ·
        {{ range .Params.tags }}<a href="{{ "/tags/" | relURL }}{{ . | urlize }}" class="tag-chip">[{{ . }}]</a> {{ end }}
        {{ end }}
      </div>
      {{ if .Description }}<div class="post-description">{{ .Description }}</div>{{ end }}
    </li>
    {{ end }}
  </ul>
</div>
{{ end }}
